.app-wrapper {
margin: 100px ;
display: grid;
width: 1200px;
grid-template-areas:
    "h h" "n c";


 grid-template-rows: 105px 1fr;
 grid-template-columns:3fr 11fr ;
 grid-gap: 12px;




}
.header {
width: 1510px;
grid-area: h;
background-color: limegreen;
}

.header img{
 width: 100px;
 background-color: limegreen;
}


.nav {
  width: 150px;
  grid-area: n;
  background-color: limegreen;
}

.content {
 width: 1350px;
 grid-area:  c;
 background-color: whitesmoke;
}

